#form1{
    background-color: blueviolet;
}

#form2{
    background-color: chartreuse;
}

#ins1{
    font-size: xx-large;
}

#ins1{
    font-family: cursive;
}

#ol1{
    font-family: sans-serif;
}

#id2{
    font-size: 120pt;
    font-family: "Truculenta", sans-serif
}
#p1{
    position: fixed;
    background: rgba(241, 0, 133, 0.3);
    border: 5px solid rgb(255,84,104);
    top: 300px;
    left: 300px;
}

#span1{
    background-color: rgb(10, 182, 224);
    font-weight: bolder;

}

#div3{
    font-size: 1em;
}

#div4{
    font-size: 1cm;
}
